$border-width:                1px !default;
$border-radius:               .25rem !default;
$font-weight-bold:            700 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $water,
    "secondary":  $gray,
    "success":    $nature,
    "info":       $sky,
    "warning":    $cheese,
    "danger":     $blood,
    "light":      $bg-light,
    "dark":       $bg-dark
  ),
  $theme-colors
);


// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y:                   .75rem !default;
$alert-padding-x:                   1.25rem !default;
$alert-margin-bottom:               1rem !default;
$alert-border-radius:               $border-radius !default;
$alert-link-font-weight:            $font-weight-bold !default;
$alert-border-width:                $border-width !default;

$alert-bg-level:                    -10 !default;
$alert-border-level:                -9 !default;
$alert-color-level:                 6 !default;